<h1 align='center'>Listing All Categories</h1>
<div align='center'>
	<span class='page-btns'><%= will_paginate %></span>
	<% @categories.each do |category| %>

		<!-- Each category -->
		<ul class='listing'>
			<div class='row'>
			<div class='panel panel-default col-xs-4 col-xs-offset-4' id='category-panel'>
			<div class='panel-body'>
			<div class='row'>
				
				<!-- Category -->
				<div class='col-xs-12'>
					<li class='category-title'>
						<%= link_to "#{category.name}", category_path(category) %>
					</li>
					<li>
					<small>
					<%= pluralize(category.articles.count, 'article') %>
					</small>
					</li>
				</div>
				<!-- /Category -->

				<!-- Category options dropdown -->
				<div class='col-xs-1 col-xs-offset-9' id='category-options'>
				<% if logged_in? %>
				<% if current_user.admin? %>
					<span class='article-options article-index-options'>
					<div class='links dropdown'>
						<a href='#' class="glyphicon glyphicon-option-vertical" data-toggle='dropdown'
																								aria-haspopup='true' aria-expanded='true'>
						</a>
						<ul class='dropdown-menu' aria-labelledby='article-options'>
							<li class='delete' >
								<%= link_to 'Delete', category_path(category), method: :delete,
																			data: {confirm: 'Are you sure you want to delete this category?'} %>
							</li>
						</ul>
					</div>
					</span>
				<% end %>
				<% end %>
				</div>
				<!-- /Category options dropdown -->

			</div>
			</div>
			</div>
			</div>
		</ul>
		<!-- /Each category -->
		
	<% end %>
	<span class='page-btns'><%= will_paginate %></span>
</div>