<!DOCTYPE html>
<html>
  <head>
    <title>Spider Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    params[:controller], 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class='container'>
      <%= yield %>
    </div>
    <% if Rails.env.development? %>
      <div id='debug'>
        <%= debug(params) %>
      </div>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
